{{ define "content" }}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">/dashboard.storage</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#storenew">
                            Store New Key
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="storenew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Security</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/addact/">
                                            <input class="form-control" placeholder="Key:" name="inpkey" type="text"
                                                autofocus>
                                            <hr>
                                            <input class="form-control" placeholder="Value:" name="inpval" type="text">
                                            <hr>
                                            <select class="form-select" name="typeofkey"
                                                aria-label="Default select example">
                                                <option selected>Select type: </option>
                                                <option value="int">int</option>
                                                <option value="string">string</option>
                                                <option value="array">[]string (type each value after ,)</option>
                                                <!--
                                                <option value="array">[]byte</option>
                                                <option value="array">map[string]string</option>
                                                -->
                                            </select>
                                            <hr>
                                            <button type="submit" class="btn btn-success">Store</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Key:</th>
                                        <th>Value:</th>
                                        <th>:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range $key, $value := .Database }}
                                    <tr>
                                        <td>{{ $key }}</td>
                                        <td>{{ $value }}</td>
                                        <td> <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#myModal">
                                                Delete
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                                aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">Security</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure want delete this key?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close</button>
                                                            <a href="/delete/?key={{ $key }}"
                                                                class="btn btn-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                        </td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{{ end }}